body
{
	width: 100vw; /* Ancho del viewport */
  height: 100vh; /* Altura del viewport */
  overflow-x: hidden; /* Para asegurar que no haya desbordamiento */
  font-weight: lighter;
}

.text-justify
{
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -0.4px;
}
.mt-custom {
  margin-top: 220px; /* Ajusta este valor según tus necesidades */
}

.parallax {
  background-image: url('../img/back1.png');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.parallax2 {
  background-image: url('../img/back2.png');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.content {

  color: white;
  background-color: rgba(0, 0, 0, 0.8); /* Optional for better text readability */

}

.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}