body
{
	
  overflow-x: hidden; /* Para asegurar que no haya desbordamiento */
}

.parallax {
  background-image: url('../img/back1.png');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.parallax2 {
  background-image: url('../img/back2.png');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}

.button-styled{
  border-width: thin;
  border-style: solid;
  border-color: #084686;
  transition: border 0.3s ease, box-shadow 0.3s ease !important;
}
.button-styled:hover{
  border: 0.1px solid #005EB7;
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgba(0, 255, 255, 0.8);
}
.nav-li
{
  color: #85B7F6 !important;
  font-weight:100;
  border-radius: 10px;
}
.nav-li:hover
{
  border-radius: 10px;
  background-color: #0C3059;
  color: #ffffff !important;
  font-weight:100;
}
/* scroll navbar */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease; 
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #0A386B;
   
}